<!DOCTYPE html>
<html>
  <head>
    <title>Webflix</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= javascript_pack_tag 'Index' %>
  </head>

  <body>
    <nav style="text-align: right">
      <% if account_signed_in? %>
        <%= link_to('Logout', destroy_account_session_path, method: :delete) %>          
      <% else %>
        <%= link_to('Login', new_account_session_path)  %> |
        <%= link_to('Sign Up', new_account_registration_path)  %>  
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
